* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

button, label {
  cursor: pointer;
}

.visually__hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

body {
  background-color: #414141;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 100px 15px;
  max-width: 1130px;
}

.grid {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 20px;
}

.grid__element {
  padding: 20px;
  background-color: rgb(47, 179, 179);
  border-radius: 10px;
  border: 1px solid #fff;
  font-weight: 700;
  text-align: center;
}

.grid__element-7 {
  grid-column: span 2;
  grid-row: span 2;
}