@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=cyrillic");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

button, label {
  cursor: pointer;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container {
  max-width: 100%;
  min-width: 320px;
}

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 990px;
  min-width: 320px;
}

.visually__hidden {
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  border: none;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.header {
  padding: 10px;
  background-color: rgb(202, 0, 81);
  -webkit-box-shadow: 0 3px 0 rgba(154, 0, 61, 0.8);
          box-shadow: 0 3px 0 rgba(154, 0, 61, 0.8);
}
.header__wrap {
  display: grid;
  grid-template: minmax(55px, auto)/165px auto 165px;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__person {
  margin-left: 45px;
  padding: 5px 5px 5px 42px;
  position: relative;
}
.header__person:hover a {
  text-decoration: underline;
}
.header__person::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 38px;
  height: 27px;
  background: url(../img/person.png) 0 0/cover no-repeat;
}
.header__person-link {
  font-family: "Roboto";
  font-size: 18px;
  color: #fff;
  line-height: 1.22;
  text-shadow: 0.5px 0.86px 3px rgba(5, 6, 6, 0.2);
}
.header__logo {
  justify-self: center;
}
.header__logo-link img {
  margin: 6px 0 0 0;
  display: block;
}
.header__email {
  margin-right: 45px;
  justify-self: end;
}
.header__mail-link {
  margin-left: auto;
  display: block;
  width: 38px;
  height: 28px;
  background: url(../img/mail.png) 0 0/cover no-repeat;
}

@media (max-width: 990px) {
  .header__person {
    margin-left: 0px;
  }
  .header__email {
    margin-right: 0;
  }
}
@media (max-width: 580px) {
  .header__wrap {
    grid-template: minmax(55px, auto)/140px auto 140px;
    grid-gap: 5px;
  }
  .header__logo {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .header__email {
    grid-column: 3/4;
  }
}
.pictures {
  margin: 3.1px 0px 0px 0px;
  display: grid;
  grid-template-areas: "img-1 img-2 img-3 img-4" "img-1 img-5 img-5 img-6";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pictures__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.pictures__link:nth-of-type(1) {
  grid-area: img-1;
}
.pictures__link:nth-of-type(2) {
  grid-area: img-2;
}
.pictures__link:nth-of-type(3) {
  grid-area: img-3;
}
.pictures__link:nth-of-type(4) {
  grid-area: img-4;
}
.pictures__link:nth-of-type(5) {
  grid-area: img-5;
}
.pictures__link:nth-of-type(6) {
  grid-area: img-6;
}

@media (max-width: 990px) {
  .pictures {
    grid-template-areas: "img-1 img-2 img-3" "img-1 img-5 img-5" "img-6 img-4 img-4";
  }
}
@media (max-width: 680px) {
  .pictures {
    grid-template-areas: "img-2 img-1" "img-3 img-1" "img-4 img-4" "img-5 img-6";
  }
}
@media (max-width: 480px) {
  .pictures {
    grid-template-areas: "img-2 img-1" "img-3 img-1" "img-4 img-4" "img-5 img-5" "img-6 img-6";
  }
}